name: API Tests CI with Allure

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # 1. Клонируем репозиторий
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Устанавливаем Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      # 3. Запускаем тесты (Allure создаст target/allure-results)
      - name: Run API tests
        run: mvn clean test || true   # игнорируем ошибки тестов

      # 4. Загружаем результаты тестов (Allure results)
      - name: Upload Allure results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: target/allure-results

      # 5. Генерация HTML Allure-отчета
      - name: Generate Allure Report
        run: mvn allure:report

      # 6. Загружаем HTML-отчёт как артефакт
      - name: Upload Allure HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: target/allure-report
