name: API Tests CI with Allure

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build and run tests
        run: mvn clean test -B || true  # <- чтобы CI не падал из-за тестов

      - name: Generate Allure report
        run: |
          mvn allure:report || true
          mkdir -p allure-results
          cp -r target/site/allure-maven-plugin/* allure-results/

      - name: Upload Allure report as artifact
        uses: actions/upload-artifact@v3
        with:
          name: allure-report
          path: allure-results/

